# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
/dataSources/a230d548-9347-4766-8022-7f56cde4842b.xml
/dataSources.local.xml
/dataSources.xml
/dataSources/a230d548-9347-4766-8022-7f56cde4842b/storage_v2/_src_/database/volcapidb.KMzJYQ/schema/information_schema.FNRwLQ.meta
/dataSources/a230d548-9347-4766-8022-7f56cde4842b/storage_v2/_src_/database/volcapidb.KMzJYQ/schema/pg_catalog.0S1ZNQ.meta
/php.xml
/dataSources/a230d548-9347-4766-8022-7f56cde4842b/storage_v2/_src_/database/volcapidb.KMzJYQ/schema/public.abK9xQ.meta
/dataSources/a230d548-9347-4766-8022-7f56cde4842b/storage_v2/_src_/database/volcapidb.KMzJYQ.meta
