name: Deploy to VPS

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Install sshpass
              run: sudo apt-get install -y sshpass

            - name: Connect SSH
              run: |
                  sshpass -p "${{ secrets.VPS_PSW }}" ssh -o StrictHostKeyChecking=no ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'
                  cd ~/GERM-scrapper
                  git pull
                  npm install
                  npx drizzle-kit push
                  lsof -ti:3000 | xargs kill -9 || true
                  nohup npm run prod > ~/GERM-scrapper/app.log 2>&1 < /dev/null &
                  EOF
